body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 40px);
    padding: 15px 20px;
}

header a {
    text-decoration: none;
}

header #links {
    display: flex;
}

header #links a:not(:last-child) {
    margin-right: 15px;
}

#page {
    padding: 45px 20px;
}

table {
    width: 100%;
}

.rf-cal {
    width: calc(100% - 20px);
}

input[type="time"] {
    border-width: 1px;
    border-style: solid;
    border-color: #C4C0B9;
    font-size: 11px;
    font-family: Arial, Verdana, sans-serif ;
    color: #000000;
    background-repeat: repeat-x;
    background-position: 1px 1px;
    background-color: #ffffff;
    background-image: url(/project-task-manager/org.richfaces.resources/javax.faces.resource/org.richfaces.staticResource/4.5.17.Final/Packed/DEFAULT/org.richfaces.images/inputBackgroundImage.png);
}

textarea, input[type="text"], input[type="password"], input[type="time"], select {
    line-height: 1.5em;
    border-radius: 0.4em;
}

textarea, input[type="text"], input[type="password"], input[type="time"] {
    width: calc(100% - 16px);
    padding: 6px 8px;
}

select {
    width: calc(100% + 2px);
    padding: 6px 5px;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
    padding: 5px 10px;
    border-radius: 0.4em;
}

tr:has(> td label):not(:first-child) td {
    padding-top: 7.5px;
}